################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SolrSearchLRTTool/SolrSearchLRTTool/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SolrSearchLRTTool/SolrSearchLRTTool/obj/Debug/DesignTimeResolveAssemblyReferences.cache
